*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    color: dimgray;
}
/* ================== */
#banner{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 120px;
}
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half_width h1{
    font-size: 40px;
    padding-top: 100px;
}
.half_width h2{
    font-size: 35px;
}
.half_width h3{
    padding-top: 5px;
}
.half_width span{
    color: orange;
}
.half_width p{
    padding-bottom: 20px;
}
.link_btn {
    color: #fff;
    background: linear-gradient(45deg,lightSalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
}
.half_width img{ 
    width: 100%;
}
/* ======================= */
#dream_area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/* ============= */
#experience_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experience_area h2{
    font-size: 35px;
    padding-bottom: 30px;
}
#experience_area h3{
    color: orange;
}
.single_box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
    padding-top: 20px;
    padding-left: 40px;
}
#pro{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    padding-bottom: 10px;
}