*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* ================== */
#banner{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    height: 500px;
}
/* .container{
    width: 1140px;
    margin: auto;
} */
.half_width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half_width h1{
    font-size: 40px;
    padding-top: 80px;
}
.half_width h2{
    font-size: 35px;
}
.half_width h3{
    padding: 5px 0;
}
.half_width span{
    color: orange;
}
.half_width img{
    width: 100%;
}